body {
    margin: 0;
    padding: 0;
    background-image: url(assets/back2.avif);
}

.header-section {

    height: 50px;
    width: 900px;
    border: 3px solid rgb(76, 197, 237);
    border-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    margin-left: 250px;
    background-color: rgb(76, 197, 237);


}

.header-section li,
a {

    list-style-type: none;
    text-decoration: none;
    color: white;
}

/* 
input {
    position: absolute;
    background-color: darkblue;
    color: white;
    padding: 3px 10px;
    border: 2px solid rgb(76, 197, 237);
    border-radius: 25px;
    top: 36px;
    left: 2px;
    height: 30px;
    width: 170px;
    border: 2px solid rgb(76, 197, 237);
    border-radius: 20px;
} */


.p-p {


    display: flex;
    justify-content: center;
    align-items: center;

}


.p-p-p {
    font-size: 32px;
    font-weight: bold;
}

.p-p-p-p {
    font-size: 20px;
    margin: 15px;
}



footer{
    background-color: cornflowerblue;
    height: 83px;
    width: 100vw;
}

.copyright{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}